data/toppar
data/toppar_c36_jul21.tgz
.vscode
pdb/r0.*
pdb/*.dat
pdb.processed
pdb.pisces
pdb.top8000
pdb.29k
pdb.6k
top8000/*.pdb
top8000/*.pkl
md.pisces
lightning_logs
logs
.DS_Store
baseline
*/*.pt
cryoem
